---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v3/ticker/24hr?symbol=BTCUSDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - b55f87b7-c0d1-411a-b38c-8c07077e62f8
      X-Mbx-Used-Weight:
      - '2'
      X-Mbx-Used-Weight-1m:
      - '2'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"BTCUSDT","priceChange":"-88.52000000","priceChangePercent":"-0.100","weightedAvgPrice":"88266.44772268","prevClosePrice":"88267.40000000","lastPrice":"88178.89000000","lastQty":"0.21967000","bidPrice":"88178.88000000","bidQty":"3.33828000","askPrice":"88178.89000000","askQty":"2.26435000","openPrice":"88267.41000000","highPrice":"89081.77000000","lowPrice":"87600.04000000","volume":"6940.03763000","quoteVolume":"612572468.66179970","openTime":1766267247013,"closeTime":1766353647013,"firstId":5689456150,"lastId":5691366696,"count":1910547}'
  recorded_at: Sun, 21 Dec 2025 21:47:27 GMT
recorded_with: VCR 6.3.1
