# PostgreSQL configuration for HyperSense
# Multi-database setup: primary, cache, queue, cable

default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: localhost
  port: 5432

development:
  primary:
    <<: *default
    database: hypersense_development
    username: hypersense
    password: hypersense_dev
  cache:
    <<: *default
    database: hypersense_development_cache
    username: hypersense
    password: hypersense_dev
    migrations_paths: db/cache_migrate
  queue:
    <<: *default
    database: hypersense_development_queue
    username: hypersense
    password: hypersense_dev
    migrations_paths: db/queue_migrate
  cable:
    <<: *default
    database: hypersense_development_cable
    username: hypersense
    password: hypersense_dev
    migrations_paths: db/cable_migrate

test:
  primary:
    <<: *default
    database: hypersense_test
    username: hypersense
    password: hypersense_dev
  cache:
    <<: *default
    database: hypersense_test_cache
    username: hypersense
    password: hypersense_dev
    migrations_paths: db/cache_migrate
  queue:
    <<: *default
    database: hypersense_test_queue
    username: hypersense
    password: hypersense_dev
    migrations_paths: db/queue_migrate
  cable:
    <<: *default
    database: hypersense_test_cable
    username: hypersense
    password: hypersense_dev
    migrations_paths: db/cable_migrate

production:
  primary:
    <<: *default
    database: hypersense_production
    username: hypersense
    password: <%= ENV["HYPERSENSE_DATABASE_PASSWORD"] %>
  cache:
    <<: *default
    database: hypersense_production_cache
    username: hypersense
    password: <%= ENV["HYPERSENSE_DATABASE_PASSWORD"] %>
    migrations_paths: db/cache_migrate
  queue:
    <<: *default
    database: hypersense_production_queue
    username: hypersense
    password: <%= ENV["HYPERSENSE_DATABASE_PASSWORD"] %>
    migrations_paths: db/queue_migrate
  cable:
    <<: *default
    database: hypersense_production_cable
    username: hypersense
    password: <%= ENV["HYPERSENSE_DATABASE_PASSWORD"] %>
    migrations_paths: db/cable_migrate
